<main>

    <section id="contact" class="contact">

        <div class="contact_wrapper">
            <div class="contact_text_wrapper">
                <h1>Contact Us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non placerat erat. Praesent
                    interdum ornare lectus eu commodo. Curabitur accumsan mi eget leo auctor posuere. </p>
                <p><span>Or by postal adress</span></p>
                <p>34 Avenue Jean Jaures, 90000 Belfort</p>
            </div>

            <div class="contact_form_wrapper">
                <form>
                    <input type="text" id="contact_name" name="contact_name" placeholder="Your name ..."
                        aria-label="contact name" />
                    <input type="email" id="contact_email" name="contact_email" placeholder="Your email ..."
                        aria-label="contact email" />
                    <input type="text" id="contact_object" name="contact_object" placeholder="object of the mail ..."
                        aria-label="contact object" />
                    <textarea name="contact_msg" id="contact_msg" placeholder="Your message ..."
                        aria-label="contact message"></textarea>
                    <div class="contact_form_btn_submit">
                        <button type="submit" class="submit_btn" aia-label="submit contact button">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </section>

</main>