/* Reset CSS */

* {
    margin: 0;
    padding: 0;
}

/**** Font ****/

@font-face{
    font-family: 'Afacad';
    src: url(../fonts/Afacad-VariableFont_wght.ttf);
}


/**** ****/

/**** Class outils ****/

.hidden{
    display: none!important;
}

body{
    font-family: "Afacad";
}

body a{
    scroll-behavior: smooth;
}

input{
    margin-right: -15px;
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    background-color: #D9D9D9;
    font-weight: 500;
    font-size: 15px;
}

input:focus{
    outline: none;
}

/**** ****/

/**** Header - Navigation  ****/

/** Bloc decoration home page **/

.deco_img_header{
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.deco_img_header img:nth-child(1){
    width: 275px;
}

.deco_img_header img:nth-child(2){
    margin: -15px 25px;
}

/** **/

/** Bloc Navigation **/

nav{
    position: fixed;
    top: 0;
    left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5vh 0;
    padding: 15px 30px;
    width: 77%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
    z-index: 100000000;
}

.nav_link{
    display: flex;
    align-items: center;
}

.nav_link img{
    width: 35px;
    margin-right: 15px;
}

.nav_link a{
    margin: 0 15px;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: black;
}

.nav_link a:hover, .nav_link a:focus{
    color: #EF872D;
}

.nav_interact{
    display: flex;
    align-items: center;
}

.nav_interact search{
    margin: 0 20px;
}

search form{
    display: flex;
    align-items: center;
}

search form input{
    border-radius: 25px 0 0 25px;
    width: 15vw;
    height: 35px;
}

search form input:focus{
    outline: none;
}

search form input::placeholder{
    font-weight: 500;
    font-size: 15px;
}

search form button{
    padding: 0 15px;
    border: none;
    border-radius: 25px 0 25px 25px;
    height: 35px;
    font-size: 20px;
    color: white;
    background-color: #EF872D;
    cursor: pointer;
}

.nav_sign{
    margin: 0 15px;
    padding: 5px 25px;
    border: 3px solid #EF872D;
    border-radius: 25px;
    text-align: center;
}

.nav_sign a{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #EF872D;
}

.nav_sign:hover{
    background-color: #EF872D;
}

.nav_sign:hover a{
    color: white;
}

.nav_user_connected a{
    display: flex;
    align-items: center;
    margin: 0 15px;;
    text-decoration: none;
}

.nav_user_connected a p{
    margin-right: 15px;;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.nav_user_connected a img{
    width: 50px;
    height: 50px;
    background-color: #EF872D;
    border-radius: 50%;;
}

/** **/

/**** ****/

/**** Main ****/

/**** Section Accueil ****/

.accueil{
    background-image: url("../img/bg_accueil.png");
}

.img_accueil{
    display: flex;
    justify-content: center;
}

.img_wrapper{
    position: relative;
    margin-top: 20vh;
    width: 80%;
}

.img_wrapper img{
    width: 100%;
}

.img_accueil_text{
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.img_accueil_text h1{
    font-weight: 700;
    font-size: 105px;
    color: white;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.84)
}

.img_accueil_text p{
    font-weight: 500;
    font-size: 25px;
    width: 40%;
    color: white;
}

.btn_sign {
    margin: 35px 0;
    padding: 5px 25px;
    border: 3px solid #EF872D;
    border-radius: 25px;
    width: 7%;
    text-align: center;
}

.btn_sign a{
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    color: #EF872D; 
}

.element_scroll{
    position: relative;
    top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
    cursor: pointer;
}

.element_scroll a{
    padding: 10px;
    border: 3px solid #EF872D;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    color: #EF872D;
    z-index: 15;
}

/**** ****/

/**** Section listing recettes *****/

/* #listing_recettes{
    height: 2500px;
} */

/** Bloc titre **/

.recettes_titre{
    display: flex;
    align-items: end;
    margin: 5% 17%;
}

.recettes_titre img{
    width: 100px;
    margin: 0 25px 35px 25px;
}

.recettes_titre h2{
    font-weight: 700;
    font-size: 105px;
    color: #EF872D;
}

/** **/


/** Bloc Filtres **/

.filtres_homepage{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 5vh auto;
    padding: 15px 30px;
    width: max-content;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
}

.tag_filter_btn{
    margin: 0 55px;
}

.tag_filter_btn button{
    padding: 6px 25px;
    border: 3px solid #EF872D;
    border-radius: 25px;
    background: none;
    font-weight: 500;
    font-size: 18px;
    color: #EF872D;
    cursor: pointer;
}

.tag_filter_btn button:hover{
    background-color: #EF872D;
    color: white;
}

.select_filter_btn{
    display: flex;
    align-items: center;
}

.btn_text_select{
    padding: 10px 25px;
    border-radius: 25px 0 0 25px;
    background-color: #EF872D;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.select_filter_btn select{
    margin: 0 0 0 -15px;
    padding: 8px 25px;
    border: 3px solid #EF872D;
    border-radius: 0 25px 25px 0;
    background-color: white;
    font-weight: 500;
    font-size: 18px;
    color: #EF872D;
    cursor: pointer;
}

.select_filter_btn select:focus-visible{
    outline: none;
}

.wrapper_tag{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 10%;;
}

.tag{
    margin: 0 25px;
    cursor: pointer;
}

.tag:first-child{
    margin-left: 0;
}

.tag:last-child{
    margin-right: 0;
}

.tag img{
    padding: 15px;
    border-radius: 15px;
    width: 50px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
}

.tag img:hover{
    background-color: #EF872D;
}

.tag img:focus{
    background-color: #EF872D;
}

.tag h3{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    color: #EF872D;
}

/** **/

/** Cards Recettes **/

.wrapper_recipe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 100px 10%;
}

.card_recette{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 25px;
    width: 325px;
    height: 400px;
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
    cursor: pointer;
    text-decoration: none;;
}

.card_img img{
    width: 325px;
}

.card_favori{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -5px 0 20px 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
    font-size: 20px;
    color: #CA5D5D;
    cursor: pointer;
}

.card_note{
    font-size: 20px;
    color: #F4D45A;
    cursor: pointer; 
}

.card_text{
    margin: 15px;
    text-align: center;
    color: black;
}

.card_text h2{
    font-weight: 600;
    font-size: 30px;
}

.card_text p{
    font-weight: 500;
    font-size: 20px;
}

/** **/

/** Bouton ajout recette **/

.btn_creer_recette{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.btn_creer_recette a{
    padding: 7px 25px;
    border: 3px solid #EF872D;
    border-radius: 25px;
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    color: #EF872D;
}

.btn_creer_recette a:hover{
    background-color: #EF872D;
    color: white;
}

/** **/

/**** Section video ****/

.short_video{
    margin: 150px 10%;
}

.short_text{
    display: flex;
    justify-content: end;
    align-items: end;
}

.short_text h2{
    font-weight: 700;
    font-size: 105px;
    color: #EF872D;
}

.short_text img{
    width: 100px;
    margin: 0 25px 35px 25px;
    transform: scale(-1, 1);
}

.short_wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 50px;
}

.short_wrapper .video img{
    width: 275px;
}

.short_wrapper .video{
    position: relative;
}

.short_wrapper .video_favori{
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
    margin: 0;
}

/**** ****/

/**** Bloc Newsletter ****/

.newsletter{
    display: flex;
    justify-content: center;
    margin: 150px 0;
}

.news_wrapper{
    padding: 25px 35px;
    border-radius: 25px 0 25px 25px;
    width: 60%;
    background-color: #EF872D;
    text-align: center;
}

.news_wrapper p{
    margin: 25px 85px;
    font-weight: 700;
    font-size: 35px;
    color: white;
}

.news_wrapper form{
    display: flex;
    align-items: center;
    justify-content: center;
}


.news_wrapper form input{
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    background-color: white;
    font-weight: 500;
    font-size: 15px;
}

.news_wrapper button{
    margin-left: 25px;
    padding: 6px 20px;
    border: 3px solid white;
    border-radius: 25px 0 25px 25px;
    font-size: 20px;
    color: white;
    background-color: #EF872D;
    cursor: pointer;
}

.news_wrapper button:hover{
    background-color: white;
    color: #EF872D;
}

/**** ****/

/**** Footer ****/

footer{
    margin-top: 150px;
    background-color: #303030;
}

.info_footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 10%;
    padding: 50px 0;
    color: white;
}

.info_footer h4{
    font-size: 35px;
    margin-bottom: 15px;
}

.mapping{
    display: flex;
    flex-direction: column;
}

.mapping a{
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.mapping a:hover{
    color: #EF872D;
}

.info_contact_footer{
    text-align: center;
}

.info_contact_footer p{
    font-size: 20px;
}

.info_contact_footer p span{
    display: block;
    margin: 10px 0;
    font-weight: 700;
    color: #EF872D;
}

.info_contact_footer a{
    display: block;
    margin: 10px 0;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.info_contact_footer a:hover{
    color: #EF872D;
}

.info_reseaux{
    display: flex;
    flex-direction: column;
}

.info_reseaux a{
    display: block;
    margin: 5px 0;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.info_reseaux a:hover{
    color: #EF872D;
}

.info_legale{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #EF872D;
    padding: 15px 10%;
    color: white;
}

.info_legale p span{
    font-weight: 700;
}

.info_legale a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.info_legale a:hover{
    color: #EF872D;
}


/**** ****/

/***** Page connexion / inscription *****/

.wrapper_connexion{
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.wrapper_connexion .form_wrapper{
    position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.form_wrapper form{
    background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.sign_up{
    left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.wrapper_connexion.right_panel_active .sign_in{
    transform: translateX(100%);
}

.sign_in{
    left: 0;
    width: 50%;
    z-index: 2;  
}

.wrapper_connexion.right_panel_active .sign_up{
    transform: translateX(100%);
    opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

.overlay_wrapper{
    position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.wrapper_connexion.right_panel_active .overlay_wrapper{
    transform: translateX(-100%);
}

.overlay{
    background-color: #EF872D;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/filigrane.png");
    opacity: 0.1;
    z-index: 10;
}

.wrapper_connexion.right_panel_active .overlay{
    transform: translateX(50%);
}

.overlay_panel{
    position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
    z-index: 18;
}

.overlay_left{
    transform: translateX(-20%);
}

.wrapper_connexion.right_panel_active .overlay_left{
    transform: translateX(0);
}

.overlay_right{
    right: 0;
	transform: translateX(0);
}

.wrapper_connexion.right_panel_active .overlay_right{
    transform: translateX(20%);
}

.form_wrapper h1{
    margin: 25px;;
    font-weight: 700;
    font-size: 85px;
    color:#EF872D
}

.form_wrapper input{
    margin: 10px;
    padding: 15px;
    border-radius: 25px 0 25px 25px;
    min-width: 350px;
    font-family: "Afacad";
    font-weight: 500;
    font-size: 15px;
    box-shadow: 0px 4px 4px 0px #ababab;
}

.sign_reseau{
    margin-bottom: 25px;;
}

.link_reseau{
	display: inline-flex;
	justify-content: center;
	align-items: center;
    border-radius: 50%;
	margin: 0 5px;
	height: 40px;
	width: 40px;
    color:#EF872D;
    box-shadow: 0px 4px 4px 0px #ababab;
}

.link_reseau:hover{
    background-color: #EF872D;
    color: white;
}

.btn_sign{
    margin: 25px 0 0 0;
    padding: 6px 25px;
    border: 3px solid #EF872D;
    border-radius: 25px;
    background: none;
    width: 150px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #EF872D;
	transition: transform 80ms ease-in;
    cursor: pointer;
}

.btn_sign:hover{
    background-color: #EF872D;
    color: white;
}

.overlay_panel h1{
    font-size: 65px;
}

.overlay_panel p{
    font-size: 20px;
}

.overlay_btn{
    margin: 25px 0 0 0;
    padding: 6px 25px;
    border: 3px solid white;
    border-radius: 25px;
    background: none;
    width: 150px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

.overlay_btn:hover{
    background-color: white;
    color: #EF872D;
}

/**** ****/

/***** Page All Recipe *****/

.allrecipe_titre{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
}

.allrecipe_titre p{
    margin-top: 15px;
    font-size: 20px;
}

/**** ****/

/***** Page Recipe *****/

.the_recipe{
    margin: 10%;
}

.img_the_recipe{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.card_the_recipe{
    position: relative;
    margin-top: -100px;
    width: 80vw;
    border-radius: 25px;;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #a6a6a6;
    z-index: 10;
}

.menu_the_recipe{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
}

.icon_menu_the_recipe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: white;
    color: #EF872D;
    box-shadow: 0px 4px 4px 0px #a6a6a6;
    cursor: pointer;
}

.intro_the_recipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro_the_recipe h1{
    font-size: 65px;
    font-weight: 700;
    color: #EF872D;
}

.intro_the_recipe p{
    margin-bottom: 15px;
    font-size: 25px;
}

.intro_the_recipe .rate_the_recipe{
    font-size: 25px;
    color: #F4D45A;
}

.wrapper_infos_the_recipe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;
}

.item_infos_the_recipe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_infos_the_recipe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25px;
    border-radius: 25px 0 25px 25px;
    width: 85px;
    height: 85px;
    background-color: white;
    color: #EF872D;
    box-shadow: 0px 4px 4px 0px #a6a6a6;
}

.card_infos_the_recipe img{
    width: 60px;
    height: 60px;
}

.item_infos_the_recipe p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

.ingredient_the_recipe{
    padding: 0 5%;
}

.ingredient_title_the_recipe{
    display: flex;
    align-items: center;
}

.card_title_icon_ingredient{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25px 25px 25px;
    border-radius: 25px 0 25px 25px;
    width: 85px;
    height: 85px;
    background-color: white;
    color: #EF872D;
    box-shadow: 0px 4px 4px 0px #a6a6a6;
}

.ingredient_title_the_recipe h2{
    font-size: 45px;
    font-weight: 700;
    color: #EF872D;
}

.list_ingredient_the_recipe{
    margin: 0 50px;
}

.item_list_ingredient{
    margin: 15px;
    font-size: 20px;
    font-weight: 500;
}

.item_list_ingredient::marker{
    content: "o    ";
    color: #EF872D;
}

.instruction_the_recipe{
    margin-top: 55px;
    padding: 0 5%;
}

.instruction_title_the_recipe{
    display: flex;
    align-items: center;
}

.instruction_title_the_recipe h2{
    font-size: 45px;
    font-weight: 700;
    color: #EF872D;
}

.text_instruction_the_recipe{
    margin: 0 0 50px 25px;
}

.wrapper_rating_the_recipe{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
}

.text_rating_the_recipe{
    margin-right: 15px;
    font-size: 25px;
    font-weight: 500;
}

.img_rating_the_recipe{
    margin-top: 5px;
    font-size: 20px;
    color: #F4D45A;
    cursor: pointer;
}

.comments_the_recipe{
    position: relative;
    padding: 0 10%;
    background-color: #EF872D;
    z-index: 1;
}

.comments_the_recipe::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/filigrane.png");
    background-attachment: fixed;
    opacity: 0.1;
    z-index: 10;
}

.title_comments_the_recipe{
    display: flex;
    align-items: flex-end;
    padding-top: 50px;
}

.title_comments_the_recipe img{
    margin-bottom: 10px;
    width: 110px;
}

.title_comments_the_recipe h3{
    margin: 0 20px;
    font-size: 45px;
    color: white;
}

.wrapper_comments{
    padding: 55px 0;
}

.card_comments{
    position: relative;
    padding: 0 2%;
    border-radius: 25px;
    width: 55%;
    background-color: white;
    z-index: 15;
}

.card_comments_header{
    display: flex;
    align-items: center;
    padding-top: 35px;
}

.card_comments_header .avatar img{
    width: 65px;;
}

.user_infos_comments p:nth-child(odd){
    margin: 5px 25px;
    font-size: 20px;
    font-weight: 600;
}

.user_infos_comments p:nth-child(even){
    margin-left: 25px;
    font-size: 16px;
}

.text_comments{
    margin: 25px 0;
}

.option_comments{
    display: flex;
    justify-content: flex-end;
    padding: 0 25px 25px 25px;
}

.item_icon_comments{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: white;
    color: #EF872D;
    box-shadow: 0px 4px 4px 0px #a6a6a6;
    cursor: pointer;
}

.more_recipes{
    margin: 0 10%;
}

.title_more_recipes{
    display: flex;
    align-items: flex-end;
    margin-top: 55px;
}

.title_more_recipes img{
    margin-bottom: 15px;
    width: 110px;
}

.title_more_recipes h3{
    margin: 0 20px;
    font-size: 45px;
    color: #EF872D;
}

.wrapper_more_recipes{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 25px;
}

/**** ****/

/***** Page Create Recipe *****/

.create_recipe{
    margin: 10%;
}

.create_recipe h1{
    font-size: 105px;
    font-weight: 700;
    text-align: center;
    color: #EF872D;
}

.create_recipe h1 span{
    font-size: 45px;
    font-weight: 500;
}

.create_recipe p{
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
}

.title_section_form{
    font-size: 45px;
    font-weight: 700;
    color: #EF872D;
}

.wrapper_infos{
    display: flex;
    align-items: center;
    margin: 55px 0;
}

.infos_icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 10px 1px #ababab;
}

.infos_icon img{
    width: 35px;
}

.infos_input{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.infos_input label{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.infos_input input{
    border-radius: 25px 0 25px 25px;
    min-width: 350px;
    font-family: "Afacad";
    font-weight: 500;
    font-size: 15px;
    box-shadow: 0px 4px 4px 0px #ababab;
}

.infos_input select{
    padding: 8px 25px;
    border: 3px solid #EF872D;
    border-radius: 15px;
    background-color: white;
    font-weight: 500;
    font-size: 18px;
    color: #EF872D;
    cursor: pointer;
}

.infos_input select:focus{
    outline: none;
}

.input_image{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px 0;
}

.input_image label{
    font-size: 18px;
    font-weight: 600;
}

.input_image input{
    margin: 10px 0;
    padding: 0;
    border-radius: 0;
    background-color: white;
}

.input_image input::file-selector-button{
    margin-right: 15px;
    padding: 8px 25px;
    border: 3px solid #EF872D;
    border-radius: 15px;
    background-color: white;
    font-weight: 500;
    font-size: 18px;
    width: auto;
    text-align: center;
    color: #EF872D;
    cursor: pointer;
}

.input_ingredient{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 20px 0;
}

.input_ingredient input{
    margin: 15px 0;
    border-radius: 25px 0 25px 25px;
    min-width: 350px;
    font-family: "Afacad";
    font-weight: 500;
    font-size: 15px;
    box-shadow: 0px 4px 4px 0px #ababab;
}

.input_ingredient button{
    margin-top: 15px;;
    padding: 8px 25px;
    border: none;
    border-radius: 15px;
    background-color: white;
    font-weight: 500;
    font-size: 18px;
    width: auto;
    text-align: center;
    color: #EF872D;
    box-shadow: 0px 4px 4px 0px #ababab;
    cursor: pointer;
}

.input_ingredient button:nth-last-child(odd){
    margin-left: 20px;
}

.input_ingredient button:hover{
    background-color: #EF872D;
    color: white;
}

.recipe_instruction textarea{
    margin: 25px 0;
    padding: 15px;
    border: none;
    border-radius: 25px 0 25px 25px;
    background-color: #D9D9D9;
    font-family: "Afacad";
    font-weight: 500;
    font-size: 15px;
    width: 800px;
    min-height: 125px;
    box-shadow: 0px 4px 4px 0px #ababab;
}

.recipe_instruction textarea:focus{
    outline: none;
}

.add_tag_recipe_wrapper{
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.publish_recipe{
    display: flex;
    justify-content: center;
    margin: 50px 0;;
}

.publish_recipe button{ 
    padding: 7px 25px;
    border: 3px solid #EF872D;
    border-radius: 25px;
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #EF872D;
}

/**** ****/

/***** Page contact *****/

.contact_wrapper{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 10%;
}

.contact_text_wrapper{
    order: 1;
    margin: 5% 0 5% 10%;
    width: 50%;
}

.contact_text_wrapper h1{
    font-size: 105px;
    color:#EF872D;
}

.contact_text_wrapper p{
    margin: 25px 0;
    font-size: 18px;
}

.contact_text_wrapper p span{
    display: block;
    margin-bottom: -10px;
    font-size: 25px;
    font-weight: 600;
    color:#EF872D;
}


.contact_form_wrapper{
    order: 2;
    margin: 7% 10%;
    width: 50%;
}

.contact_form_wrapper form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.contact_form_wrapper form input{
    margin: 10px;
    padding: 15px;
    border-radius: 25px 0 25px 25px;
    font-family: "Afacad";
    font-weight: 500;
    font-size: 15px;
    box-shadow: 0px 4px 4px 0px #ababab;
}

.contact_form_wrapper form textarea{
    margin: 10px;
    padding: 15px;
    border: none;
    border-radius: 25px 0 25px 25px;
    background-color: #D9D9D9;
    font-family: "Afacad";
    font-weight: 500;
    font-size: 15px;
    min-height: 75px;
    box-shadow: 0px 4px 4px 0px #ababab;
}

.contact_form_wrapper form textarea:focus{
    outline: none;
}

.contact_form_btn_submit{
    display: flex;
    justify-content: end;
}

.contact_form_wrapper form .submit_btn{
    margin: 25px 0 0 0;
    padding: 6px 25px;
    border: 3px solid #EF872D;
    border-radius: 25px;
    background: none;
    width: 150px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #EF872D;
    cursor: pointer;
}

.contact_form_wrapper form .submit_btn:hover{
    background-color: #EF872D;
    color: white;
}

/**** ****/

/***** Page Mon Compte *****/

.account_infos{
    margin: 10%;
}

.account_infos h1{
    margin-bottom: 35px;
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    color: #EF872D;
}

.wrapper_infos_account{
    display: flex;
    align-items: start;
}

.recap_infos{
    margin: 0 35px 0 0;
    padding: 25px;
    border-radius: 25px;
    width: 25vw;
    height: 60vh;
    background-color: #EF872D;
    color: white;
    text-align: center;
}

.recap_infos::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/filigrane.png");
    background-attachment: fixed;
    opacity: 0.1;
    z-index: 1;
}

.infos_photo_account{
    display: flex;
    margin: 25px auto;
    width: 125px;
    height: 125px;
    border-radius: 25px;
    background-color: white;
}

.infos_photo_account img{
    margin: auto;
    width: 65px;
    height: 65px;
}

.text_infos{
    margin: 55px 0;
}

.text_infos h2{
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 600;
}

.text_infos p{
    font-size: 20px;
    font-weight: 500;
}

.form_change_infos{
    width: 75vw;
}

.form_change_infos form{
    position: relative;
    margin-left: 10%;
    z-index: 10;
}

.form_change_infos form h2{
    margin-bottom: 35px;
    font-size: 35px;
    font-weight: 700;
    color: #EF872D;
}

.change_photo_account{
    display: flex;
    align-items: start;
}

.photo_account{
    margin: 0 0 25px 0;
    width: 95px;
    height: 95px;
    box-shadow: 0px 4px 4px 0px #ababab;;
}

.btn_change_photo_account{
    display: flex;
    flex-direction: column;
    margin: 0 25px;
}

.btn_change_photo_account button{
    padding: 6px 25px;
    border: 3px solid #EF872D;
    border-radius: 15px;
    background: white;
    width: auto;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #EF872D;
    cursor: pointer;
}

.btn_change_photo_account button:nth-child(odd){
    margin-bottom: 15px;
}

.btn_change_photo_account button:hover{
    background-color: #EF872D;
    color: white;
}

.input_account_changes{
    display: flex;
    flex-direction: column;
}

.input_account_changes input{
    margin: 15px 0;
    border-radius: 25px 0 25px 25px;
    max-width: 550px;
    font-family: "Afacad";
    font-weight: 500;
    font-size: 15px;
    box-shadow: 0px 4px 4px 0px #ababab;
}

.btn_save_changes{
    display: flex;
    justify-content: center
}

.btn_save_changes button{
    margin: 25px 0 25px 50px;
    padding: 6px 25px;
    border: 3px solid #EF872D;
    border-radius: 15px;
    background: white;
    width: auto;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #EF872D;
    cursor: pointer;
}

.btn_save_changes button:hover{
    background-color: #EF872D;
    color: white;
}

.recipe_shared{
    margin: 10%;
}

.recipe_shared h2{
    margin-bottom: 35px;
    font-size: 35px;
    font-weight: 700;
    color: #EF872D;
}

.user_recipe_shared{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.btn_add_recipe_account{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ababab;
    text-decoration: none;
}

.btn_add_recipe_account:hover{
    background-color: #EF872D;
    color: white;
}

.btn_add_recipe_account:hover > .icon_btn_add_recipe{
    background-color: white;
    color:  #EF872D;
}

.btn_add_recipe_account .icon_btn_add_recipe{
    background-color: #EF872D;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    color: white;
    box-shadow: 0px 4px 4px 0px #777777;
    cursor: pointer;
}


.icon_btn_add_recipe span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 35px;
}

.btn_add_recipe_account p{
    margin-top: 15px;
    color: black;
    font-size: 20px;
}

.user_recipe_shared_wrapper{
    position: relative;
}

.user_recipe_shared .card_text h2{
    margin-bottom: 0;
}

.user_recipe_shared .btn_recipe_modify{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 25px 0 35px 60px;
}

.user_recipe_shared .btn_recipe_modify button{
    padding: 6px 25px;
    border: 3px solid #EF872D;
    border-radius: 15px;
    background: white;
    width: auto;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #EF872D;
    cursor: pointer;
}

.user_recipe_shared .btn_recipe_modify button:hover{
    background-color: #EF872D;
    color: white;
}

.favorite_recipe{
    margin: 10%;
}

.favorite_recipe h2{
    margin-bottom: 35px;
    font-size: 35px;
    font-weight: 700;
    color: #EF872D;
}

.user_recipe_favorite{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

/**** ****/