<header>
    <!-- décoration image top -->

    <div class="deco_img_header">
        <img src="/assets/img/header_ellipse.png" alt="Ellipse">
        <img src="/assets/img/header_ellipse_deux.png" alt="Ellipse">
    </div>

    <!-- Menu -->

    <nav>
        <div class="wrapper_header_nav">
            <div class="header_nav">
                <a routerLink="/" ><img src="/assets/img/logo_dishub.png" alt="logo DisHub"></a>
                <div class="burger" [class.active]="menuOuvert" (click)="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="nav_link" [class.active]="menuOuvert">
                <a routerLink="/" (click)="fermerMenu()">Home</a>
                <a routerLink="/allrecipes" (click)="fermerMenu()">Recipe</a>
                <a routerLink="/contact" (click)="fermerMenu()">Contact</a>
                <div class="nav_add_recipe nav_sign">
                    <a routerLink="/createRecipes">Add your recipe</a>
                </div>
            </div>
        </div>
        <div class="nav_interact">
            <search>
                <form>
                    <input type="search" id="nav_search" name="nav_search" placeholder="Research ..."
                        aria-label="research your receipe" />
                    <button type="submit" aria-label="research your receipe"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </search>
            <div class="wrapper_sign">
                @if(!getConnectedUser()){
                <div class="nav_sign">
                    <a routerLink="/Authentification">Sign In</a>
                </div>
                <div class="nav_sign">
                    <a routerLink="/Authentification">Sign Up</a>
                </div>
                }
                @if(getConnectedUser()){
                <div class="nav_user_connected hidden">
                    <a routerLink="/account">
                        <p>{{getConnectedUser().userName}}</p>
                        <img src="img/profil/profil.png" alt="profile picture">
                        <button (click)="logoutUser()">
                            Déconnexion
                        </button>
                    </a>
                </div>
            }
            </div>
        </div>
    </nav>
</header>