<header>
    <!-- décoration image top -->

    <div class="deco_img_header">
        <img src="/assets/img/header_ellipse.png" alt="Ellipse">
        <img src="/assets/img/header_ellipse_deux.png" alt="Ellipse">
    </div>

    <!-- Menu -->

    <nav>
        <div class="wrapper_header_nav">
            <div class="header_nav">
                <a href="../index.html"><img src="/assets/img/logo_dishub.png" alt="logo DisHub"></a>
                <div class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="nav_link">
                <a href="../index.html">Home</a>
                <a href="/pages/allrecipes.html">Recipe</a>
                <a href="/pages/contact.html">Contact</a>
                <div class="nav_add_recipe nav_sign">
                    <a href="pages/create_recipe.html">Add your recipe</a>
                </div>
            </div>
        </div>
        <div class="nav_interact">
            <search>
                <form>
                    <input type="search" id="nav_search" name="nav_search" placeholder="Research ..."
                        aria-label="research your receipe" />
                    <button type="submit" aria-label="research your receipe"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </search>
            <div class="wrapper_sign">
                <div class="nav_sign">
                    <a href="/pages/connexion.html">Sign In</a>
                </div>
                <div class="nav_sign">
                    <a href="/pages/connexion.html">Sign Up</a>
                </div>
                <div class="nav_user_connected hidden">
                    <a href="/pages/account.html">
                        <p>username</p>
                        <img src="img/profil/profil.png" alt="profile picture">
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>