<footer>

    <div class="info_footer">
        <div class="mapping">
            <h4>Pages</h4>
            <a href="">Home</a>
            <a href="">Recipe</a>
            <a href="">Search</a>
            <a href="">Contact</a>
        </div>

        <div class="info_contact_footer">
            <h4>Contact</h4>
            <p>Contact us at this adress :</p>
            <p><span>34 Avenue Jean Jaures, 90000 Belfort</span></p>
            <p>or via email / phone</p>
            <a href="mailto:contact@contact.com">contact@contact.com</a>
            <a href="tel:+3300000000">+33 00 00 00 00</a>
        </div>

        <div class="info_reseaux">
            <h4>Réseaux</h4>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"
                    style="margin: 0 5px 0 0;"></i>Instagram</a>
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"
                    style="margin: 0 5px 0 0;"></i>Facebook</a>
        </div>
    </div>

    <div class="info_legale">
        <p><span>©DisHub</span> All rights reserved</p>
        <a href="">Mentions légales</a>
    </div>

</footer>