<a href="#" class="card_recette">
    <div class="card_img">
        <img src="/assets/img/recettes/img_recette.png" alt="photo de la recette">
    </div>
    <div class="card_favori" aria-label="favori button">
        <i class="fa-regular fa-heart"></i>
    </div>
    <div class="card_note" aria-label="rating button">
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
    </div>
    <div class="card_text">
        <h2>Titre de la recette</h2>
        <p>Auteur de la recette</p>
    </div>
</a>